.button-action {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  border-radius: 1rem;
  cursor: pointer;
  font-size: 2.5rem;
}

.button-action--red {
  background-color: var(--color-red);
  color: var(--color-white);
}

.button-action--plus {
  align-self: flex-start;
  height: 11.9rem;
  grid-column: 5/6;
  grid-row: 3/6;
}
