@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  list-style: none;
  font-family: "Roboto", Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  height: 100vh;
  background-color: #1abfe0;
}

.main_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 310px;
  height: 450px;
  background-color: #454345;
  border-radius: 10px;
  padding: 10px;
}

.mirror_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  height: 20%;
  background-color: #fff;
  border-radius: 10px;
}

.mirror_container_window {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  font-size: 25px;
  padding: 10px;
  overflow: hidden;
}

.buttons_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 100%;
  height: 60%;
  margin-top: 40px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 25px;
}

.red-button {
  background-color: #ef3d3c;
  color: "#ffffff"
}

.plus-button {
  align-self: flex-start;
  height: 119px;
  grid-column: 5/6;
  grid-row: 3/6;
}
